{% extends 'layout.html' %} {% block style %}
<style>
#index {
    padding: 30px 50px;
}

#index .line {
    text-align: center;
}

#index #category {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}

#index #videocount {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}

#index #ownercount {
    display: inline-block;
    height: 400px;
    width: 80%;
    margin-left: 3%;
    margin-right: 3%;
}

#index #onedaydisplay {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}

#index #length {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    $('#header #nav #nav1').addClass('active');

    $('#header #nav a').mouseenter(function() {
        $('#header #nav a').removeClass('active');
        $(this).addClass('active');
    });
    $('#header #nav').mouseleave(function() {
        $('#header #nav a').removeClass('active');
        $('#header #nav #nav1').addClass('active');
    });
});
</script>
<div id="index">
    <div class="line">
        <div id="category"></div>
        <div id="videocount"></div>
    </div>
    <div class="line">
        <div id="ownercount"></div>
    </div>
    <div class="line">
        <div id="onedaydisplay"></div>
        <div id="length"></div>
    </div>
</div>
<script>
$(document).ready(function() {

    // 电影类型统计
    var tnames = eval('({{infos|safe}})')['tnames'];
    var counts = eval('({{infos|safe}})')['counts'];
    var chours = eval('({{infos|safe}})')['chours'];
    var lengths= eval('({{infos|safe}})')['length'];
    var authors= eval('({{infos|safe}})')['author'];
    var tname_A = [];
    var tname_B = [];
   
    for (var i = 0; i < tnames.length; i++) {
        tname_A.push([tnames[i][0]]);

        tname_B.push([tnames[i][1]]);
    }


    var counts_A = [];
    var counts_B = [];

    for (var i = 0; i < counts.length; i++) {
        counts_A.push([counts[i][0]]);

        counts_B.push([counts[i][1]]);
    }


    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var category = ec.init(document.getElementById('category'));
        

            option = {
                title: {
                    text: "视频类型统计",
                    subtext: '',
                    x: 'center',
                    padding: [20, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}部 ({d}%)"
                },
                calculable: true,
                series: [{
                    name: '视频类型统计',
                    type: 'pie',
                    radius: '50%',
                    center: ['50%', '55%'],
                    data: [{
                        name: tname_A[0],
                        value:tname_B[0]
                    },{
                        name: tname_A[1],
                        value:tname_B[1]
                    },{
                        name: tname_A[2],
                        value:tname_B[2]
                    },{
                        name: tname_A[3],
                        value:tname_B[3]
                    },{
                        name: tname_A[4],
                        value:tname_B[4]
                    },{
                        name: tname_A[5],
                        value:tname_B[5]
                    },{
                        name: tname_A[6],
                        value:tname_B[6]
                    },{
                        name: tname_A[7],
                        value:tname_B[7]
                    },{
                        name: tname_A[8],
                        value:tname_B[8]
                    },{
                        name: tname_A[9],
                        value:tname_B[9]
                    },{
                        name: tname_A[10],
                        value:tname_B[10]
                    },{
                        name: tname_A[11],
                        value:tname_B[11]
                    },{
                        name: tname_A[12],
                        value:tname_B[12]
                    },{
                        name: tname_A[13],
                        value:tname_B[13]
                    },{
                        name: tname_A[14],
                        value:tname_B[14]
                    },{
                        name: tname_A[15],
                        value:tname_B[15]
                    },{
                        name: tname_A[16],
                        value:tname_B[16]
                    },{
                        name: tname_A[17],
                        value:tname_B[17]
                    },{
                        name: tname_A[18],
                        value:tname_B[18]
                    },{
                        name: tname_A[19],
                        value:tname_B[19]
                    },]
                }]
            };
            category.setOption(option);
        });

    // 出现次数统计
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var videocount = ec.init(document.getElementById('videocount'));
            option = {
                title: {
                    text: '上榜次数统计',
                    subtext: '',
                    x: 'center',
                    padding: [20, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}次 ({d}%)"
                },
                calculable: true,
                series: [{
                    name: '上榜统计',
                    type: 'pie',
                    radius: '50%',
                    center: ['50%', '55%'],
                    data: [{
                        name: counts_A[0],
                        value:counts_B[0]
                    }, {
                        name: counts_A[1],
                        value:counts_B[1]
                    },{
                        name: counts_A[2],
                        value:counts_B[2]
                    },{
                        name: counts_A[3],
                        value:counts_B[3]
                    },{
                        name: counts_A[4],
                        value:counts_B[4]
                    },{
                        name: counts_A[5],
                        value:counts_B[5]
                    },{
                        name: counts_A[6],
                        value:counts_B[6]
                    },{
                        name: counts_A[7],
                        value:counts_B[7]
                    },{
                        name: counts_A[8],
                        value:counts_B[8]
                    },{
                        name: counts_A[9],
                        value:counts_B[9]
                    },{
                        name: counts_A[10],
                        value:counts_B[10]
                    },{
                        name: counts_A[11],
                        value:counts_B[11]
                    },{
                        name: counts_A[12],
                        value:counts_B[12]
                    },{
                        name: counts_A[13],
                        value:counts_B[13]
                    },{
                        name: counts_A[14],
                        value:counts_B[14]
                    }]
                }]
            };
            videocount.setOption(option);
        });

    // 知名up主
    require(
        [
            'echarts',
            'echarts/chart/wordCloud'
        ],
        function(ec) {
            var ownercount = ec.init(document.getElementById('ownercount'));
            option = {
                title: {
                    text: '知名UP主上榜统计',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return params.seriesName + '<br/>' + params.name + ' : ' + params.value;
                    }
                },

                series: [{
                    type: 'wordCloud',
                    size: ['90%', '85%'],
                    textRotation : [0,45,90,-45],
                    shape: 'circle',
                    // gridSize: 1,
                    sizeRange: [12, 30],
                    rotationRange: [-45, 0, 45, 90],
                    // maskImage: maskImage,
                    itemStyle: {
                      normal: {
                        color: function () {
                        return 'rgb(' + [
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255)
                            ].join(',') + ')';
                }

                      }
                    },
                    // left: 'center',
                    // top: 'center',
                    width: '70%',
                    height: '80%',
                    right: null,
                    bottom: null,
                    data: authors
                  }]
                
    

            };
            ownercount.setOption(option);
        });


    // 一天产量分布
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function(ec) {
            var onedaydisplay = ec.init(document.getElementById('onedaydisplay'));
            option = {
                title: {
                    text: '一天视频产量统计',
                    x: 'center',
                    padding: [15, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return params.seriesName + '<br>' + params.value[0] + '时：' + params.value[1] + '个';
                    }
                },
                calculable: true,
                xAxis: [{
                    type: 'value',
                    splitNumber:8,
                    min:0,
                    max:24,
                    minInterval: 1

                }],
                yAxis: [{
                    type: 'value',
                }],
                series: [{
                    name: '单天视频产量',
                    type: 'line',
                    symbol: 'none',
                    smooth:true,
                    data: chours,

                    markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    
                ]
            },
                markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }

                }]
            };
            onedaydisplay.setOption(option);
        });

    // 视频时长统计
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function(ec) {
            var length = ec.init(document.getElementById('length'));
            option = {
                title: {
                    text: '视频时长统计',
                    x: 'center',
                    padding: [15, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return params.seriesName + '<br>' + params.value[0] + '分钟：' + params.value[1] + '个';
                    }
                },
                calculable: true,
                xAxis: [{
                    type: 'value',
                    min: 0,
                    max: 32,
                    splitNumber:8
                }],
                yAxis: [{
                    type: 'value',
                }],
                series: [{
                    name: '视频时长统计',
                    type: 'line',
                    symbol: 'none',
                    data: lengths,
                    smooth:true,
                    markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    
                ]
            },
                markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }
                }]
            };
            length.setOption(option);
        });
});
</script>
{% endblock %}