{% extends 'layout.html' %} {% block style %}
<style>
#index {
    padding: 30px 50px;
}
#index .line {
    text-align: center;
}
#index #category {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}
#index #aidcounts {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}
#index #ownercounts {
    display: inline-block;
    height: 400px;
    width: 80%;
    margin-left: 3%;
    margin-right: 3%;
}
#index #onedaycounts {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}
#index #length {
    display: inline-block;
    height: 300px;
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    $('#header #nav #nav1').addClass('active');
    $('#header #nav a').mouseenter(function() {
        $('#header #nav a').removeClass('active');
        $(this).addClass('active');
    });
    $('#header #nav').mouseleave(function() {
        $('#header #nav a').removeClass('active');
        $('#header #nav #nav1').addClass('active');
    });
});
</script>
<div id="index">
    <div class="line">
        <div id="category"></div>
        <div id="aidcounts"></div>
    </div>
    <div class="line">
        <div id="ownercounts"></div>
    </div>
    <div class="line">
        <div id="onedaycounts"></div>
        <div id="length"></div>
    </div>
</div>
<script>
$(document).ready(function() {
    // 电影类型统计
    var tnames = eval('({{infos|safe}})')['tnames'];
    var weeks  = eval('({{infos|safe}})')['weeks'];
    var chours = eval('({{infos|safe}})')['chours'];
    var lengths= eval('({{infos|safe}})')['length'];
    var authors= eval('({{infos|safe}})')['author'];
    var tname_A = [];
    var tname_B = [];
   
    for (var i = 0; i < tnames.length; i++) {
        tname_A.push([tnames[i][0]]);
        tname_B.push([tnames[i][1]]);
    }
    var weeks_A = [];
    var weeks_B = [];
    for (var i = 0; i < weeks.length; i++) {
        weeks_A.push([weeks[i][0]]);
        weeks_B.push([weeks[i][1]]);
    }
    // var chour_A = []
    // var chour_B = []
    // for (var i = 0; i < chours.length; i++) {
    //     chour_A.push([chours[i][0]]);
    //     chour_B.push([chours[i][1]]);
    // }
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var category = ec.init(document.getElementById('category'));
        
            option = {
                title: {
                    text: "视频类型统计",
                    subtext: '',
                    x: 'center',
                    padding: [20, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}部 ({d}%)"
                },
                calculable: true,
                series: [{
                    name: '视频类型统计',
                    type: 'pie',
                    radius: '50%',
                    center: ['50%', '55%'],
                    data: [{
                        name: tname_A[0],
                        value:tname_B[0]
                    },{
                        name: tname_A[1],
                        value:tname_B[1]
                    },{
                        name: tname_A[2],
                        value:tname_B[2]
                    },{
                        name: tname_A[3],
                        value:tname_B[3]
                    },{
                        name: tname_A[4],
                        value:tname_B[4]
                    },{
                        name: tname_A[5],
                        value:tname_B[5]
                    },{
                        name: tname_A[6],
                        value:tname_B[6]
                    },{
                        name: tname_A[7],
                        value:tname_B[7]
                    },{
                        name: tname_A[8],
                        value:tname_B[8]
                    },{
                        name: tname_A[9],
                        value:tname_B[9]
                    },{
                        name: tname_A[10],
                        value:tname_B[10]
                    },{
                        name: tname_A[11],
                        value:tname_B[11]
                    },{
                        name: tname_A[12],
                        value:tname_B[12]
                    },{
                        name: tname_A[13],
                        value:tname_B[13]
                    },{
                        name: tname_A[14],
                        value:tname_B[14]
                    },{
                        name: tname_A[15],
                        value:tname_B[15]
                    },{
                        name: tname_A[16],
                        value:tname_B[16]
                    },{
                        name: tname_A[17],
                        value:tname_B[17]
                    },{
                        name: tname_A[18],
                        value:tname_B[18]
                    },{
                        name: tname_A[19],
                        value:tname_B[19]
                    },]
                }]
            };
            category.setOption(option);
        });
    // 上榜次数统计
    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function(ec) {
            var aidcounts = ec.init(document.getElementById('aidcounts'));
            option = {
                title: {
                    text: '发布时段统计',
                    subtext: '',
                    x: 'center',
                    padding: [20, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}部 ({d}%)"
                },
                calculable: true,
                series: [{
                    name: '发布时段统计',
                    type: 'pie',
                    radius: '50%',
                    center: ['50%', '55%'],
                    data: [{
                        name: weeks_A[0],
                        value:weeks_B[0]
                    }, {
                        name: weeks_A[1],
                        value:weeks_B[1]
                    },{
                        name: weeks_A[2],
                        value:weeks_B[2]
                    },{
                        name: weeks_A[3],
                        value:weeks_B[3]
                    },{
                        name: weeks_A[4],
                        value:weeks_B[4]
                    },{
                        name: weeks_A[5],
                        value:weeks_B[5]
                    },{
                        name: weeks_A[6],
                        value:weeks_B[6]
                    }]
                }]
            };
            aidcounts.setOption(option);
        });
    // 知名UP主上榜统计
    require(
        [
            'echarts',
            'echarts/chart/wordCloud'
        ],
        function(ec) {
            var ownercounts = ec.init(document.getElementById('ownercounts'));
            option = {
                title: {
                    text: '知名UP主上榜统计',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return params.seriesName + '<br/>' + params.name + ' : ' + params.value;
                    }
                },
                series: [{
                    type: 'wordCloud',
                    size: ['90%', '85%'],
                    textRotation : [0,45,90,-45],
                    shape: 'circle',
                    // gridSize: 1,
                    sizeRange: [12, 30],
                    rotationRange: [-45, 0, 45, 90],
                    // maskImage: maskImage,
                    itemStyle: {
                      normal: {
                        color: function () {
                        return 'rgb(' + [
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255)
                            ].join(',') + ')';
                }
                      }
                    },
                    // left: 'center',
                    // top: 'center',
                    width: '70%',
                    height: '80%',
                    right: null,
                    bottom: null,
                    data: authors
                  }]
                
    
            };
            ownercounts.setOption(option);
        });
    // 一天视频产量统计
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function(ec) {
            var onedaycounts = ec.init(document.getElementById('onedaycounts'));
            option = {
                title: {
                    text: '一天视频产量统计',
                    x: 'center',
                    padding: [15, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return params.seriesName + '<br>' + params.value[0] + '时：' + params.value[1] + '个';
                    }
                },
                calculable: true,
                xAxis: [{
                    type: 'value',
                    splitNumber:12,
                    min:0,
                    max:24,
                    minInterval: 1,
                }],
                yAxis: [{
                    type: 'value',
                }],
                series: [{
                    
                    type: 'line',
                    symbol: 'none',
                    smooth:true,
                    data: chours,
                    markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    
                ]
            },
                markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }
                }]
            };
            onedaycounts.setOption(option);
        });
    // 视频时长统计
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function(ec) {
            var length = ec.init(document.getElementById('length'));
            option = {
                title: {
                    text: '单个视频时长统计',
                    x: 'center',
                    padding: [15, 10, 10, 10]
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function(params) {
                        return params.seriesName + '<br>' + params.value[0] + '分钟：' + params.value[1] + '个';
                    }
                },
                calculable: true,
                xAxis: [{
                    type: 'value',
                    min: 0,
                    max: 36,
                    splitNumber:12
                }],
                yAxis: [{
                    type: 'value',
                }],
                series: [{
                    name: '',
                    type: 'line',
                    symbol: 'none',
                    data: lengths,
                    smooth:true,
                    markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    
                ]
            },
                markLine: {
                data: [
                    {type: 'average', name: '平均值'}
                ]
            }
                }]
            };
            length.setOption(option);
        });
});
</script>
{% endblock %}